.logo {
    position: relative;
    left: 12%;
    top: 20px;
    width: 100px;
}


.inputbody {
    width: 75%;
    height: 100%;
    background-color: #E5E8E8;
    position: relative;
    top: 100px;
    left: 13%;
    border-radius: 25px;
    background-position: bottom;
    min-height: 300px;

}

.searchnv {
    position: relative;
    top: px;

}
.inputtop {
    position: relative;
    top: 500px;
    margin-top: 200px;
}

header {
    height: 100px;
    width: 100%;
    background-color: #E5E8E8 ;
}

.headline {
    font-family: 'Alegreya', serif;
    font-weight: bolder;
    font-size: 60px;
    position: relative;
    bottom: 90px;
    left: 160%;
    height: 40px;
  
}

.inptbr {
    width: 65%;
    position: relative;
    left: 17%;
    
}

.inpt {
    padding-top: 10%;

}

.srcbtn {
    position: relative;
    left: 35%;
    top: 20px;
    width: 20%;
}

.hyplnk {
    position: relative;
    left: 70%;
}

a.nav-link:hover {
    color: red !important;
}

footer {
    position: relative;
    top: 230px;
    background-color: #E5E8E8;
    width: 100%;
    color: #1e1e1e;
    line-height: 60px;
    text-align: center;
}